<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta http-equiv="Pragma" content="no-cache" />  
<meta http-equiv="Expires" content="-1" />  
<meta http-equiv="Cache-Control" content="no-cache" /> 
<title>pay</title>
<style>
.box{ width:450px; height:240px; margin:0 auto; position:absolute; top:50%; left:50%; margin-top:-99px; margin-left:-225px; hidden-align:center;}
</style>
</head>
<body>
        <form id="payForm" action="#"  th:action="${reqUrl}" method="post">
                <input type="hidden" name="version" th:value="${version}"/>
                <input type="hidden" name="merchantId" th:value="${merchantId}"/>
                <input type="hidden" name="merchantUrl" th:value="${merchantUrl}"/>
                <input type="hidden" name="responseMode" th:value="${responseMode}"/>
                <input type="hidden" name="orderId" th:value="${orderId}"/>
                <input type="hidden" name="currencyType" th:value="${currencyType}"/>
                <input type="hidden" name="amount" th:value="${amount}"/>
                <input type="hidden" name="assuredPay" th:value="${assuredPay}"/>
                <input type="hidden" name="time" th:value="${time}"/>
                <input type="hidden" name="remark" th:value="${remark}"/>
                <input type="hidden" name="mac" th:value="${mac}"/>
                <input type="hidden" name="b2b" th:value="${b2b}"/>
                <input type="hidden" name="bankCode" th:value="${bankCode}"/>
                <input type="hidden" name="merchantKey" th:value="${merchantKey}"/>
        </form>
</body>
</html>
 <script language="javascript" type="text/javascript">
 window.onload=function(){
 	document.getElementById("payForm").submit();
 }
  </script>
